
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(73, 158, 255, 0.801),
        rgba(2, 49, 136, 0.801)
    ),
    url(./background.jpg);

    background-size: cover;
    background-position: top;
    position: relative;

    /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
}


.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 6rem;
}

.heading-primary {
    color: rgb(230, 230, 230);
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    margin-bottom: 3rem;
    font-family: 'Fjalla One', sans-serif;

    animation: moveInbuttonon 5s ease-out;
}

.heading-primary--sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .5rem;

    animation: moveInbuttonon 5s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }
    80% {
      transform: translateX(-1rem);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes moveInbuttonon {
    0% {
      opacity: 0;
      transform: translateY(50rem);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }



  .button:link,
  .button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 6rem;
    border-radius: 100px;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    font-family: 'Fjalla One', sans-serif;
  }

  .button:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.8);
  }

  .button:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.4);
  }

  .button--white {
    background-color: #c0ab65;
    color: #024C8A;
  }

  /* .btn2 {
    padding: 0;
  } */

  .button::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  .button--white::after {
    background-color: #998541;
  }

  .button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .button--animated {
    animation: moveInbuttonon 6s ease-out .75s;
    /* applies the 0% keyfram before the animation starts  */
    animation-fill-mode: backwards;
  }

  .button.btn2.button--white.button--animated {
    padding: 1rem 4rem;
    margin-left: 1rem;
  }

  .button.button--white.button--animated {
    padding: 1rem 5rem;
  }

  .btn-wrap {
    margin-left: -2.5rem;
  }
