/* .card-action {
    height: 4rem;
} */

.link {
    font-size: 1rem;
}

/* .card-image {
    height: 20rem;
    width: 10rem;
} */

.club-wrap {
    height: 100vh;
}

h3 {
    margin: 0;
    text-align: center;
    padding: 2rem 0;
    font-family: "Ritz", sans-serif;
    letter-spacing: .5rem;
}

.card {
    
    border: 2px solid #062742;
    box-shadow: 5px 5px 5px rgb(41, 41, 41);
    
}

.card-content {
    background-color: #1c5f95;
}


.card-title {
    font-size: 100px;
}

.watching {
    color: black;
    text-decoration: underline;
}

.club-description {
    color: black
}

.current-topic {
    color: black;
    color: rgb(148, 0, 0);
}

#club-card-title {
    color: #f8f8f8;
}

.zoom {
    background-color:#ffff;
    transition: transform .2s; 
    margin: 1rem 1rem 2rem 0rem;
  }
  
.zoom:hover {
    transform: scale(1.1); 
}