/* .card-action {
    height: 4rem;
} */

.link {
    font-size: 1rem;
}

/* .card-image {
    height: 20rem;
    width: 10rem;
} */

.club-wrap {
    width: 90%;
    margin: 0 auto;
}

h3 {
    margin: 0;
    text-align: center;
    padding: 2rem 0;
    font-family: "Ritz", sans-serif;
    letter-spacing: .5rem;
}

.card {
    
    border: 2px solid #062742;
    box-shadow: 5px 5px 5px rgb(41, 41, 41);
    
}

.card-content {
    background-image: radial-gradient(
    to right bottom,
      rgba(254, 255, 177, 0.8),
      rgba(224, 224, 224, 0.901)
    );
    height: 12rem;
    color: red;
}


span#club-card-title {
    color: #00205ae6;
}

.watching {
    color: black;
    text-decoration: underline;
}

.club-description {
    color: black
}

.current-topic {
    color: rgb(148, 0, 0);
}

#club-card-title {
    color: black;
}

.zoom {
    background-color:#f8f8f8;
    transition: transform .2s; 
    margin: 0;
  }
  
.zoom:hover {
    transform: scale(1.1); 
}

