.create-thread-wrap {
    text-align: center;
}

/* .text-area-wrap {
    width: 100%;
    border: 1px solid red;
    text-align: center;
} */


.text-area {
    border: 1px solid blue;
    width: 80%;
    height: 60vh;
    font-size: 2rem;
    background-color: rgb(250, 250, 250);
}

#thread-btn {

    background-color: #024C8A
}

#usrform {
    text-align: center;
    margin: 2rem;
    width: 80%;
}

.btn {
    background-color: #024C8A
}

#thread-title {
    width: 50%;
   
    font-size: 1.5rem;
   
}

.thread-title {
    width: 50%;
}

.input-field {
    width: 50%;
    font-size: 4rem;
    margin: 0 auto;
}