h2 {
    margin: 0;
    text-align: center;
    color: white;
    margin-bottom: 5rem;
    padding-top: 5rem;
    font-family: 'Fjalla One', sans-serif;
}


form {
    margin: 0 30% 0 30%;
    border: 2px solid red;
}

label {
    color: white;
    font-size: 2rem;
}

input {
    color: white;
    font-size: 2rem;
}

.submit {
    color: white;
    background-color: tomato;
    margin: 0 auto;
}

.signup-wrap {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(73, 158, 255, .9),
        rgba(2, 49, 136, .9)
    ),
    url(./signupBackground.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
