<<<<<<< HEAD
label.label {
    font-size: 1.5rem;
}

input#current-movie {
    margin: 2rem;
}

textarea#description {
    margin: 2rem;
}

form#create-club-form {
    width: 75%;
    /* margin-top: 2rem; */
}

div.create-club-btn {
    margin-left: 40%;
}
=======

>>>>>>> c3fea99fcf9be2ef365bf006f4e8ae477f271aa6
